@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uwr4ij');
  src:  url('fonts/icomoon.eot?uwr4ij#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uwr4ij') format('truetype'),
    url('fonts/icomoon.woff?uwr4ij') format('woff'),
    url('fonts/icomoon.svg?uwr4ij#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quit:before {
  content: "\2715";
}
.icon-wireframe:before {
  content: "\1f310";
}
.icon-palette:before {
  content: "\1f308";
}
.icon-help-circle:before {
  content: "\275f";
}
.icon-cloud-upload:before {
  content: "\2601";
}
.icon-arrow-right:before {
  content: "\27a1";
}
.icon-right:before {
  content: "\27a1";
}
.icon-next:before {
  content: "\27a1";
}
.icon-arrow-left:before {
  content: "\2b05";
}
.icon-left:before {
  content: "\2b05";
}
.icon-previous:before {
  content: "\2b05";
}
.icon-arrow-down:before {
  content: "\2b07";
}
.icon-down:before {
  content: "\2b07";
}
.icon-download:before {
  content: "\2b07";
}
.icon-bottom:before {
  content: "\2b07";
}
.icon-arrow-up:before {
  content: "\2b06";
}
.icon-up:before {
  content: "\2b06";
}
.icon-upload:before {
  content: "\2b06";
}
.icon-top:before {
  content: "\2b06";
}
.icon-home:before {
  content: "\1f3e0";
}
.icon-reset:before {
  content: "\1f3e0";
}
.icon-bin:before {
  content: "\267b";
}
.icon-trashcan:before {
  content: "\267b";
}
.icon-remove:before {
  content: "\267b";
}
.icon-delete:before {
  content: "\267b";
}
.icon-recycle:before {
  content: "\267b";
}
.icon-dispose:before {
  content: "\267b";
}
.icon-list:before {
  content: "\2630";
}
.icon-todo:before {
  content: "\2630";
}
.icon-bullet:before {
  content: "\2630";
}
.icon-menu:before {
  content: "\2630";
}
.icon-options:before {
  content: "\2630";
}
