@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?coj4g6');
  src:  url('fonts/icomoon.eot?coj4g6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?coj4g6') format('truetype'),
    url('fonts/icomoon.woff?coj4g6') format('woff'),
    url('fonts/icomoon.svg?coj4g6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wireframe:before {
  content: "\e90b";
}
.icon-palette:before {
  content: "\e905";
}
.icon-help-circle:before {
  content: "\e904";
}
.icon-cloud-upload:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-right:before {
  content: "\e906";
}
.icon-next:before {
  content: "\e906";
}
.icon-arrow-left:before {
  content: "\e907";
}
.icon-left:before {
  content: "\e907";
}
.icon-previous:before {
  content: "\e907";
}
.icon-arrow-down:before {
  content: "\e908";
}
.icon-down:before {
  content: "\e908";
}
.icon-download:before {
  content: "\e908";
}
.icon-bottom:before {
  content: "\e908";
}
.icon-arrow-up:before {
  content: "\e909";
}
.icon-up:before {
  content: "\e909";
}
.icon-upload:before {
  content: "\e909";
}
.icon-top:before {
  content: "\e909";
}
.icon-home:before {
  content: "\e901";
}
.icon-reset:before {
  content: "\e901";
}
.icon-bin:before {
  content: "\e903";
}
.icon-trashcan:before {
  content: "\e903";
}
.icon-remove:before {
  content: "\e903";
}
.icon-delete:before {
  content: "\e903";
}
.icon-recycle:before {
  content: "\e903";
}
.icon-dispose:before {
  content: "\e903";
}
.icon-list:before {
  content: "\e902";
}
.icon-todo:before {
  content: "\e902";
}
.icon-bullet:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e902";
}
.icon-options:before {
  content: "\e902";
}

