html, body {
	height: 100%;
	background-color: #303030;
}

.icon {
	font-size: 40px;
	color: white;
}

.icon:hover {
	color: grey;
}

button {
	border: none;
	background: none;
	outline: 0px;
}


/* Preview Control
   ========================================================================== */

.previewControl.wrapper {
	height: 100%;
	width: 100%;

	overflow: hidden;
}


/* State Message
   ========================================================================== */

.stateMessage {
	display: none;

	position: fixed;
	top: 0;
	right: 0;
	left: 0;

	padding: 15px 20%;

	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	line-height: 1.5;

	overflow: hidden;
}


/* Navbar (top)
   ========================================================================== */

.navbar.top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.navbar.top .left {
	float: left;
	margin: 15px 0 0 20px;

	overflow: hidden;
}

.navbar.top .right {
	float: right;
	margin: 15px 20px 0 0;

	overflow: hidden;
}

.navbar.top input[type="file"].fileUpload {
	position: fixed;
	top: 10px;
	right: 25px;

	height: 40px;
	width: 40px;

	overflow: hidden;

	opacity: 0;
}


/* Navbar (right)
   ========================================================================== */

.navbar.right {
	display: none;

	position: fixed;
	top: 100px;
	right: 10px;

	width: 60px;
}

.navbar.right > button,
.navbar.right > div {
	margin: 10px;
	overflow: hidden;
}

.rotatorArrows {
	height: 40px;
	width: 40px;
}

.rotatorArrows > button {
	position: relative;
	margin: 5px 10px;
	font-size: 14px;
}

.rotatorArrows .icon-arrow-up {
	left: 3px;
	bottom: 5px;
}

.rotatorArrows .icon-arrow-down {
	left: 3px;
	bottom: 27px;
}

.rotatorArrows .icon-arrow-right {
	left: 16px;
	bottom: 16px;
}

.rotatorArrows .icon-arrow-left {
	right: 10px;
	bottom: 64px;
}

@media screen and (max-height: 420px) {
    .navbar.right {top: 80px;}
}

@media screen and (max-height: 390px) {
    .navbar.right {top: 70px;}
}

@media screen and (max-height: 380px) {
    .navbar.right > button,
    .navbar.right > div {margin: 8px 10px;}
}

@media screen and (max-height: 360px) {
    .navbar.right > button,
    .navbar.right > div {margin: 5px 10px;}
}

@media screen and (max-height: 325px) {
    .navbar.right > button.help {display: none;}
}


/* File List
   ========================================================================== */

.fileList.menu {
	display: none;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;

	min-width: 230px;
	max-width: 50%;

	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	background: #EEE;
}

.fileList.menu .fileList.search {
	width: 100%;
	
	border: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;

	text-align: center;
	line-height: 2.8;

	background: #EEE;
}

.fileList.menu .fileList.entry {
	display: flex;
	margin-left: 3px;

	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.2;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}

.fileList.menu .fileList.entry:hover {
	margin-left: 0;
	
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: limegreen;

	background: #FAFAFA;
}


.fileList.menu .fileList.info {
	display: inline-block;
	width: 100%;
}

.fileList.menu .fileList.name, .fileList.menu .fileList.date {
	overflow: hidden;
	text-overflow: ellipsis;
}

.fileList.menu .fileList.name {
	margin: 5px 60px 5px 5%;
	font-weight: 700;
}

.fileList.menu .fileList.date {
	margin: 5px 60px 8px 5%;
	font-size: 0.8em;
}


.fileList.menu .fileList.icon-delete {
	position: absolute;
	right: 15px;

	margin-top: 10px;
	padding: 2px;
	width: 24px;

	font-size: 25px;
	text-align: center;
	color: grey;
}

.fileList.menu .fileList.icon-delete:hover {
	color: red;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.fileList.menu {max-width: 70%;}
}

@media screen and (max-width: 370px) {
	.fileList.menu {min-width: unset;}

	.fileList.menu .fileList.name,
	.fileList.menu .fileList.date {margin-right: 40px;}

	.fileList.menu .fileList.icon-delete {right: 5px;}
}

@media screen and (max-width: 200px) {
	.fileList.menu .fileList.name,
	.fileList.menu .fileList.date {margin-right: 30px;}

	.fileList.menu .fileList.icon-delete {right: 0;}
}


/* Loading Bar
   ========================================================================== */

.loadingBar.wrapper {
	display: none;
}

.loadingBar.wrapper .loadingBar.leftover {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.loadingBar.wrapper .loadingBar.loader {
	position: fixed;
	left: 50%;
	top: 50%;

    width: 120px;
    height: 120px;
	margin: -76px 0 0 -76px;

    border-radius: 50%;
	border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
	
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


/* Help Menu
   ========================================================================== */

.help.wrapper {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;

	align-items: center;
	justify-content: center;

    opacity: 0;
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
}

.help.wrapper .help.leftover {
	position: fixed;
	width: 100%;
	height: 100%;

	background: #000;
	opacity: 0.4;
}

.help.wrapper .help.menu {
	position: fixed;
	display: flex;

	padding: 15px 10px;
	max-width: 700px;
	width: 60%;

	align-content: center;
	border-radius: 10px;

	background: #f0f2f1;
}

.help.wrapper .help.menu .exitButton {
	position: absolute;
    top: 0;
    right: 0;
    padding: 18px 20px 5px 5px;

	font-size: 16px;
	color: #888;

	cursor: pointer;
	z-index: 1;
}

.help.wrapper .help.menu .exitButton:hover {color: #e00;}

.help.wrapper .help.menu .help.content {
	position: relative;

	width: 50%;
	max-height: 60%;
	
	padding: 0 10px;
	margin: 0 auto;

	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.help.wrapper .help.menu .help.content.separator {
	border-right-style: solid;
	border-right-color: #808080;
	border-right-width: 1px;
}

.help.wrapper .help.menu .help.content h4 {
	margin-top: 10px;
	margin-bottom: 5px;
}

.help.wrapper .help.menu .help.content p {
	margin: 5px 10px;
	font-size: 0.9em;
}

.help.wrapper .help.menu .help.content p.smallFont {
	font-size: 0.8em;
}

@media screen and (max-width: 900px) {
    .help.wrapper .help.menu {width: unset;}
}

@media screen and (max-height: 450px) {
    .help.wrapper .help.menu {top: 10%;}
}

@media screen and (max-width: 680px), screen and (max-height: 390px) {
    .help.wrapper .help.menu {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0 !important;
        max-width: unset;
	    width: unset;
        border-radius: 0;
    }
    
    .help.wrapper .help.menu .help.content {max-height: unset;}
}
